html body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(142, 229, 255);
}

.main {
    display: felx;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    background-color: #7da0ca;
    padding: 10px 20px 0px;
}

.header {
    max-height: 200px;
    max-width: 100%;
    display: flex;
}

.header img {
    max-width: 100%;
    height: auto;
}

.content {
    background-color: #c1e8ff;
    min-height: 400px;
    padding: 10px;
}

.footer {
    background-color: white;
    min-height: 100px;
}